CREATE DATABASE PROJECT;
GO

USE PROJECT;
GO

CREATE TABLE Courses (
	CourseID INT NOT NULL PRIMARY KEY,
	Name VARCHAR(64) NOT NULL UNIQUE,
	Code CHAR(4) NOT NULL UNIQUE
);

CREATE TABLE Books (
	BookID INT NOT NULL PRIMARY KEY,
	ISBN10 CHAR(10) NOT NULL UNIQUE,
	ISBN13 CHAR(13) NOT NULL UNIQUE,
	Title VARCHAR(512) NOT NULL,
	Author VARCHAR(512) NOT NULL,
	Edition VARCHAR(32) NULL
);

CREATE TABLE Users (
	UserID INT NOT NULL PRIMARY KEY,
	FName VARCHAR(64) NOT NULL,
	LName VARCHAR(64) NOT NULL,
	UName VARCHAR(64) NOT NULL UNIQUE,
	PWord CHAR(32) NOT NULL,
	Role VARCHAR(13) NOT NULL
);

CREATE TABLE Sale (
	SaleID INT NOT NULL PRIMARY KEY,
	Book INT NOT NULL REFERENCES Books(BookID) ON DELETE NO ACTION,
	Merchant INT NOT NULL REFERENCES Users(UserID) ON DELETE CASCADE,
	Upload DATETIME NOT NULL,
	Sold BIT NOT NULL,
	Price DECIMAL(10, 2) NOT NULL,
	Condition VARCHAR(9) NOT NULL,
	Written BIT NOT NULL,
	Comments VARCHAR(8000) NULL
);

CREATE TABLE Purchases (
	PurchaseID INT NOT NULL PRIMARY KEY,
	Buyer INT NOT NULL REFERENCES Users(UserID) ON DELETE CASCADE,
	Merchant INT NOT NULL REFERENCES Users(UserID) ON DELETE NO ACTION,
	Sale INT NOT NULL REFERENCES Sale(SaleID) ON DELETE CASCADE UNIQUE,
	Time DATETIME NOT NULL
);

CREATE TABLE BookCourses (
	EntryID INT NOT NULL PRIMARY KEY,
	Sale INT NOT NULL REFERENCES Sale(SaleID) ON DELETE CASCADE,
	Course CHAR(4) NOT NULL REFERENCES Courses(Code) ON DELETE NO ACTION,
	CourseNum CHAR(3) NOT NULL,
	CourseSec CHAR(1) NOT NULL
);

-- Allows the creation of DB Diagrams
ALTER AUTHORIZATION ON DATABASE::PROJECT TO sa;